BEGIN;

CREATE TABLE alembic_version (
    version_num VARCHAR(32) NOT NULL, 
    CONSTRAINT alembic_version_pkc PRIMARY KEY (version_num)
);

-- Running upgrade  -> 620be691e3ba

CREATE TYPE auditeventtype AS ENUM ('TASK_CREATED', 'TASK_EXECUTED', 'AGENT_CLAIMED', 'TASK_FAILED', 'CAPTCHA_PAUSED', 'CREDENTIAL_CREATED', 'ADMIN_ACTION', 'PROGRAM_CREATED', 'PROGRAM_UPDATED', 'LOGIN_ATTEMPT', 'RBAC_DENIED');

CREATE TABLE audit_logs (
    id UUID NOT NULL, 
    tenant_id UUID NOT NULL, 
    event_type auditeventtype NOT NULL, 
    actor_type VARCHAR(50) NOT NULL, 
    actor_id VARCHAR(255) NOT NULL, 
    actor_email VARCHAR(255), 
    resource_type VARCHAR(50), 
    resource_id VARCHAR(255), 
    details JSONB, 
    ip_address VARCHAR(45), 
    user_agent VARCHAR(255), 
    created_at TIMESTAMP WITHOUT TIME ZONE, 
    PRIMARY KEY (id)
);

CREATE INDEX ix_audit_logs_created_at ON audit_logs (created_at);

CREATE INDEX ix_audit_logs_event_type ON audit_logs (event_type);

CREATE INDEX ix_audit_logs_tenant_id ON audit_logs (tenant_id);

CREATE TABLE billing_plans (
    id UUID NOT NULL, 
    name VARCHAR(50) NOT NULL, 
    task_limit INTEGER, 
    minute_limit INTEGER, 
    is_active BOOLEAN, 
    PRIMARY KEY (id), 
    UNIQUE (name)
);

CREATE TABLE credentials (
    id UUID NOT NULL, 
    name VARCHAR(255) NOT NULL, 
    credential_type VARCHAR(100) NOT NULL, 
    encrypted_value TEXT NOT NULL, 
    meta_data JSONB, 
    created_at TIMESTAMP WITHOUT TIME ZONE, 
    updated_at TIMESTAMP WITHOUT TIME ZONE, 
    PRIMARY KEY (id)
);

CREATE INDEX ix_credentials_created_at ON credentials (created_at);

CREATE INDEX ix_credentials_name ON credentials (name);

CREATE TYPE exportstatus AS ENUM ('PENDING', 'PROCESSING', 'COMPLETED', 'FAILED');

CREATE TABLE export_jobs (
    id UUID NOT NULL, 
    tenant_id UUID NOT NULL, 
    export_type VARCHAR(50) NOT NULL, 
    status exportstatus, 
    filters JSONB, 
    file_path VARCHAR(500), 
    error_message VARCHAR(500), 
    created_at TIMESTAMP WITHOUT TIME ZONE, 
    completed_at TIMESTAMP WITHOUT TIME ZONE, 
    PRIMARY KEY (id)
);

CREATE INDEX ix_export_jobs_status ON export_jobs (status);

CREATE INDEX ix_export_jobs_tenant_id ON export_jobs (tenant_id);

CREATE TABLE response_pool (
    id UUID NOT NULL, 
    question TEXT NOT NULL, 
    answer TEXT NOT NULL, 
    category VARCHAR(100), 
    embedding JSONB, 
    relevance_score FLOAT, 
    created_at TIMESTAMP WITHOUT TIME ZONE, 
    updated_at TIMESTAMP WITHOUT TIME ZONE, 
    PRIMARY KEY (id)
);

CREATE INDEX ix_response_pool_category ON response_pool (category);

CREATE INDEX ix_response_pool_created_at ON response_pool (created_at);

CREATE INDEX ix_response_pool_question ON response_pool (question);

CREATE TABLE tenants (
    id UUID NOT NULL, 
    name VARCHAR(255) NOT NULL, 
    is_active BOOLEAN, 
    legal_hold BOOLEAN, 
    created_at TIMESTAMP WITHOUT TIME ZONE, 
    updated_at TIMESTAMP WITHOUT TIME ZONE, 
    PRIMARY KEY (id)
);

CREATE INDEX ix_tenants_created_at ON tenants (created_at);

CREATE INDEX ix_tenants_is_active ON tenants (is_active);

CREATE TABLE agents (
    id VARCHAR(255) NOT NULL, 
    tenant_id UUID NOT NULL, 
    pool VARCHAR(100), 
    total_tasks INTEGER, 
    successful_tasks INTEGER, 
    failed_tasks INTEGER, 
    captcha_count INTEGER, 
    timeout_count INTEGER, 
    health_score FLOAT, 
    last_seen TIMESTAMP WITHOUT TIME ZONE, 
    created_at TIMESTAMP WITHOUT TIME ZONE, 
    updated_at TIMESTAMP WITHOUT TIME ZONE, 
    PRIMARY KEY (id), 
    FOREIGN KEY(tenant_id) REFERENCES tenants (id)
);

CREATE INDEX ix_agents_pool ON agents (pool);

CREATE INDEX ix_agents_tenant_id ON agents (tenant_id);

CREATE INDEX ix_agents_tenant_pool ON agents (tenant_id, pool);

CREATE TABLE policies (
    id UUID NOT NULL, 
    tenant_id UUID NOT NULL, 
    name VARCHAR(255) NOT NULL, 
    description TEXT, 
    rules JSONB NOT NULL, 
    is_active BOOLEAN, 
    created_at TIMESTAMP WITHOUT TIME ZONE, 
    updated_at TIMESTAMP WITHOUT TIME ZONE, 
    PRIMARY KEY (id), 
    FOREIGN KEY(tenant_id) REFERENCES tenants (id)
);

CREATE INDEX ix_policies_tenant_id ON policies (tenant_id);

CREATE TABLE programs (
    id UUID NOT NULL, 
    tenant_id UUID NOT NULL, 
    name VARCHAR(255) NOT NULL, 
    description TEXT, 
    base_url VARCHAR(500), 
    signup_url VARCHAR(500), 
    affiliate_url VARCHAR(500) NOT NULL, 
    source VARCHAR(50), 
    confidence_score FLOAT, 
    commission_rate FLOAT, 
    terms TEXT, 
    is_active BOOLEAN, 
    created_at TIMESTAMP WITHOUT TIME ZONE, 
    updated_at TIMESTAMP WITHOUT TIME ZONE, 
    PRIMARY KEY (id), 
    FOREIGN KEY(tenant_id) REFERENCES tenants (id)
);

CREATE INDEX ix_programs_created_at ON programs (created_at);

CREATE INDEX ix_programs_is_active ON programs (is_active);

CREATE INDEX ix_programs_name ON programs (name);

CREATE INDEX ix_programs_source ON programs (source);

CREATE INDEX ix_programs_tenant_id ON programs (tenant_id);

CREATE TABLE retention_rules (
    id UUID NOT NULL, 
    tenant_id UUID NOT NULL, 
    entity_type VARCHAR(50) NOT NULL, 
    retention_days INTEGER NOT NULL, 
    is_active BOOLEAN, 
    created_at TIMESTAMP WITHOUT TIME ZONE, 
    updated_at TIMESTAMP WITHOUT TIME ZONE, 
    PRIMARY KEY (id), 
    FOREIGN KEY(tenant_id) REFERENCES tenants (id)
);

CREATE INDEX ix_retention_rules_tenant_id ON retention_rules (tenant_id);

CREATE TYPE tasktype AS ENUM ('DISCOVER_PROGRAM', 'APPLY_PROGRAM', 'PUBLISH_OFFER');

CREATE TYPE taskstatus AS ENUM ('PENDING', 'CLAIMED', 'RUNNING', 'PAUSED_FOR_CAPTCHA', 'RESUMED', 'SUBMITTED', 'COMPLETED', 'FAILED');

CREATE TABLE tasks (
    id UUID NOT NULL, 
    tenant_id UUID NOT NULL, 
    task_type tasktype NOT NULL, 
    status taskstatus, 
    payload JSONB, 
    result JSONB, 
    agent_id VARCHAR(255), 
    agent_pool VARCHAR(100), 
    retry_count INTEGER, 
    max_retries INTEGER, 
    logs TEXT, 
    screenshot_url VARCHAR(500), 
    error_message TEXT, 
    created_at TIMESTAMP WITHOUT TIME ZONE, 
    updated_at TIMESTAMP WITHOUT TIME ZONE, 
    claimed_at TIMESTAMP WITHOUT TIME ZONE, 
    started_at TIMESTAMP WITHOUT TIME ZONE, 
    completed_at TIMESTAMP WITHOUT TIME ZONE, 
    last_heartbeat TIMESTAMP WITHOUT TIME ZONE, 
    PRIMARY KEY (id), 
    FOREIGN KEY(tenant_id) REFERENCES tenants (id)
);

CREATE INDEX ix_tasks_agent_id ON tasks (agent_id);

CREATE INDEX ix_tasks_agent_pool ON tasks (agent_pool);

CREATE INDEX ix_tasks_created_at ON tasks (created_at);

CREATE INDEX ix_tasks_pool_status ON tasks (agent_pool, status);

CREATE INDEX ix_tasks_status ON tasks (status);

CREATE INDEX ix_tasks_task_type ON tasks (task_type);

CREATE INDEX ix_tasks_tenant_id ON tasks (tenant_id);

CREATE INDEX ix_tasks_tenant_status ON tasks (tenant_id, status);

CREATE TYPE billingstatus AS ENUM ('ACTIVE', 'SOFT_LIMIT', 'SUSPENDED');

CREATE TABLE tenant_billing (
    tenant_id UUID NOT NULL, 
    plan_id UUID NOT NULL, 
    status billingstatus, 
    cycle_start TIMESTAMP WITHOUT TIME ZONE, 
    PRIMARY KEY (tenant_id), 
    FOREIGN KEY(plan_id) REFERENCES billing_plans (id), 
    FOREIGN KEY(tenant_id) REFERENCES tenants (id)
);

CREATE TABLE tenant_usage (
    id UUID NOT NULL, 
    tenant_id UUID NOT NULL, 
    date DATE NOT NULL, 
    tasks_created INTEGER, 
    tasks_completed INTEGER, 
    tasks_failed INTEGER, 
    agent_minutes FLOAT, 
    captcha_events INTEGER, 
    created_at TIMESTAMP WITHOUT TIME ZONE, 
    PRIMARY KEY (id), 
    FOREIGN KEY(tenant_id) REFERENCES tenants (id), 
    CONSTRAINT uix_tenant_date UNIQUE (tenant_id, date)
);

CREATE INDEX ix_tenant_usage_date ON tenant_usage (date);

CREATE INDEX ix_tenant_usage_tenant_id ON tenant_usage (tenant_id);

CREATE TYPE userrole AS ENUM ('OWNER', 'ADMIN', 'OPERATOR', 'VIEWER');

CREATE TABLE users (
    id UUID NOT NULL, 
    tenant_id UUID NOT NULL, 
    email VARCHAR(255) NOT NULL, 
    role userrole NOT NULL, 
    hashed_password VARCHAR(255), 
    refresh_token_version INTEGER, 
    is_active BOOLEAN, 
    created_at TIMESTAMP WITHOUT TIME ZONE, 
    PRIMARY KEY (id), 
    FOREIGN KEY(tenant_id) REFERENCES tenants (id), 
    CONSTRAINT uix_tenant_email UNIQUE (tenant_id, email)
);

CREATE INDEX ix_users_tenant_id ON users (tenant_id);

CREATE TABLE webhook_configs (
    id UUID NOT NULL, 
    tenant_id UUID NOT NULL, 
    url VARCHAR(500) NOT NULL, 
    secret VARCHAR(255) NOT NULL, 
    event_types JSONB NOT NULL, 
    is_active BOOLEAN, 
    created_at TIMESTAMP WITHOUT TIME ZONE, 
    PRIMARY KEY (id), 
    FOREIGN KEY(tenant_id) REFERENCES tenants (id)
);

CREATE INDEX ix_webhook_configs_tenant_id ON webhook_configs (tenant_id);

CREATE TYPE applicationstatus AS ENUM ('PENDING', 'IN_PROGRESS', 'APPROVED', 'REJECTED', 'COMPLETED');

CREATE TABLE applications (
    id UUID NOT NULL, 
    tenant_id UUID NOT NULL, 
    program_id UUID NOT NULL, 
    user_email VARCHAR(255) NOT NULL, 
    user_data JSONB, 
    status applicationstatus, 
    created_at TIMESTAMP WITHOUT TIME ZONE, 
    updated_at TIMESTAMP WITHOUT TIME ZONE, 
    PRIMARY KEY (id), 
    FOREIGN KEY(program_id) REFERENCES programs (id), 
    FOREIGN KEY(tenant_id) REFERENCES tenants (id)
);

CREATE INDEX ix_applications_created_at ON applications (created_at);

CREATE INDEX ix_applications_program_id ON applications (program_id);

CREATE INDEX ix_applications_status ON applications (status);

CREATE INDEX ix_applications_tenant_id ON applications (tenant_id);

CREATE INDEX ix_applications_user_email ON applications (user_email);

CREATE TABLE task_metrics (
    id UUID NOT NULL, 
    tenant_id UUID NOT NULL, 
    task_id UUID NOT NULL, 
    program_name VARCHAR(255), 
    task_type VARCHAR(50) NOT NULL, 
    agent_id VARCHAR(255), 
    agent_pool VARCHAR(100), 
    duration_seconds FLOAT, 
    success BOOLEAN NOT NULL, 
    failure_type VARCHAR(50), 
    captcha_detected BOOLEAN, 
    created_at TIMESTAMP WITHOUT TIME ZONE, 
    PRIMARY KEY (id), 
    FOREIGN KEY(task_id) REFERENCES tasks (id), 
    FOREIGN KEY(tenant_id) REFERENCES tenants (id)
);

CREATE INDEX ix_task_metrics_agent_id ON task_metrics (agent_id);

CREATE INDEX ix_task_metrics_agent_pool ON task_metrics (agent_pool);

CREATE INDEX ix_task_metrics_captcha_detected ON task_metrics (captcha_detected);

CREATE INDEX ix_task_metrics_created_at ON task_metrics (created_at);

CREATE INDEX ix_task_metrics_failure_type ON task_metrics (failure_type);

CREATE INDEX ix_task_metrics_program_name ON task_metrics (program_name);

CREATE INDEX ix_task_metrics_task_id ON task_metrics (task_id);

CREATE INDEX ix_task_metrics_task_type ON task_metrics (task_type);

CREATE INDEX ix_task_metrics_tenant_created ON task_metrics (tenant_id, created_at);

CREATE INDEX ix_task_metrics_tenant_id ON task_metrics (tenant_id);

CREATE TABLE webhook_deliveries (
    id UUID NOT NULL, 
    tenant_id UUID NOT NULL, 
    config_id UUID NOT NULL, 
    event_type VARCHAR(50) NOT NULL, 
    payload JSONB NOT NULL, 
    status_code INTEGER, 
    response_body TEXT, 
    success BOOLEAN, 
    attempt_count INTEGER, 
    delivered_at TIMESTAMP WITHOUT TIME ZONE, 
    PRIMARY KEY (id), 
    FOREIGN KEY(config_id) REFERENCES webhook_configs (id), 
    FOREIGN KEY(tenant_id) REFERENCES tenants (id)
);

CREATE INDEX ix_webhook_deliveries_tenant_id ON webhook_deliveries (tenant_id);

INSERT INTO alembic_version (version_num) VALUES ('620be691e3ba') RETURNING alembic_version.version_num;

COMMIT;

BEGIN;

CREATE TABLE alembic_version (
    version_num VARCHAR(32) NOT NULL, 
    CONSTRAINT alembic_version_pkc PRIMARY KEY (version_num)
);

-- Running upgrade  -> 620be691e3ba

CREATE TYPE auditeventtype AS ENUM ('TASK_CREATED', 'TASK_EXECUTED', 'AGENT_CLAIMED', 'TASK_FAILED', 'CAPTCHA_PAUSED', 'CREDENTIAL_CREATED', 'ADMIN_ACTION', 'PROGRAM_CREATED', 'PROGRAM_UPDATED', 'LOGIN_ATTEMPT', 'RBAC_DENIED');

CREATE TABLE audit_logs (
    id UUID NOT NULL, 
    tenant_id UUID NOT NULL, 
    event_type auditeventtype NOT NULL, 
    actor_type VARCHAR(50) NOT NULL, 
    actor_id VARCHAR(255) NOT NULL, 
    actor_email VARCHAR(255), 
    resource_type VARCHAR(50), 
    resource_id VARCHAR(255), 
    details JSONB, 
    ip_address VARCHAR(45), 
    user_agent VARCHAR(255), 
    created_at TIMESTAMP WITHOUT TIME ZONE, 
    PRIMARY KEY (id)
);

CREATE INDEX ix_audit_logs_created_at ON audit_logs (created_at);

CREATE INDEX ix_audit_logs_event_type ON audit_logs (event_type);

CREATE INDEX ix_audit_logs_tenant_id ON audit_logs (tenant_id);

CREATE TABLE billing_plans (
    id UUID NOT NULL, 
    name VARCHAR(50) NOT NULL, 
    task_limit INTEGER, 
    minute_limit INTEGER, 
    is_active BOOLEAN, 
    PRIMARY KEY (id), 
    UNIQUE (name)
);

CREATE TABLE credentials (
    id UUID NOT NULL, 
    name VARCHAR(255) NOT NULL, 
    credential_type VARCHAR(100) NOT NULL, 
    encrypted_value TEXT NOT NULL, 
    meta_data JSONB, 
    created_at TIMESTAMP WITHOUT TIME ZONE, 
    updated_at TIMESTAMP WITHOUT TIME ZONE, 
    PRIMARY KEY (id)
);

CREATE INDEX ix_credentials_created_at ON credentials (created_at);

CREATE INDEX ix_credentials_name ON credentials (name);

CREATE TYPE exportstatus AS ENUM ('PENDING', 'PROCESSING', 'COMPLETED', 'FAILED');

CREATE TABLE export_jobs (
    id UUID NOT NULL, 
    tenant_id UUID NOT NULL, 
    export_type VARCHAR(50) NOT NULL, 
    status exportstatus, 
    filters JSONB, 
    file_path VARCHAR(500), 
    error_message VARCHAR(500), 
    created_at TIMESTAMP WITHOUT TIME ZONE, 
    completed_at TIMESTAMP WITHOUT TIME ZONE, 
    PRIMARY KEY (id)
);

CREATE INDEX ix_export_jobs_status ON export_jobs (status);

CREATE INDEX ix_export_jobs_tenant_id ON export_jobs (tenant_id);

CREATE TABLE response_pool (
    id UUID NOT NULL, 
    question TEXT NOT NULL, 
    answer TEXT NOT NULL, 
    category VARCHAR(100), 
    embedding JSONB, 
    relevance_score FLOAT, 
    created_at TIMESTAMP WITHOUT TIME ZONE, 
    updated_at TIMESTAMP WITHOUT TIME ZONE, 
    PRIMARY KEY (id)
);

CREATE INDEX ix_response_pool_category ON response_pool (category);

CREATE INDEX ix_response_pool_created_at ON response_pool (created_at);

CREATE INDEX ix_response_pool_question ON response_pool (question);

CREATE TABLE tenants (
    id UUID NOT NULL, 
    name VARCHAR(255) NOT NULL, 
    is_active BOOLEAN, 
    legal_hold BOOLEAN, 
    created_at TIMESTAMP WITHOUT TIME ZONE, 
    updated_at TIMESTAMP WITHOUT TIME ZONE, 
    PRIMARY KEY (id)
);

CREATE INDEX ix_tenants_created_at ON tenants (created_at);

CREATE INDEX ix_tenants_is_active ON tenants (is_active);

CREATE TABLE agents (
    id VARCHAR(255) NOT NULL, 
    tenant_id UUID NOT NULL, 
    pool VARCHAR(100), 
    total_tasks INTEGER, 
    successful_tasks INTEGER, 
    failed_tasks INTEGER, 
    captcha_count INTEGER, 
    timeout_count INTEGER, 
    health_score FLOAT, 
    last_seen TIMESTAMP WITHOUT TIME ZONE, 
    created_at TIMESTAMP WITHOUT TIME ZONE, 
    updated_at TIMESTAMP WITHOUT TIME ZONE, 
    PRIMARY KEY (id), 
    FOREIGN KEY(tenant_id) REFERENCES tenants (id)
);

CREATE INDEX ix_agents_pool ON agents (pool);

CREATE INDEX ix_agents_tenant_id ON agents (tenant_id);

CREATE INDEX ix_agents_tenant_pool ON agents (tenant_id, pool);

CREATE TABLE policies (
    id UUID NOT NULL, 
    tenant_id UUID NOT NULL, 
    name VARCHAR(255) NOT NULL, 
    description TEXT, 
    rules JSONB NOT NULL, 
    is_active BOOLEAN, 
    created_at TIMESTAMP WITHOUT TIME ZONE, 
    updated_at TIMESTAMP WITHOUT TIME ZONE, 
    PRIMARY KEY (id), 
    FOREIGN KEY(tenant_id) REFERENCES tenants (id)
);

CREATE INDEX ix_policies_tenant_id ON policies (tenant_id);

CREATE TABLE programs (
    id UUID NOT NULL, 
    tenant_id UUID NOT NULL, 
    name VARCHAR(255) NOT NULL, 
    description TEXT, 
    base_url VARCHAR(500), 
    signup_url VARCHAR(500), 
    affiliate_url VARCHAR(500) NOT NULL, 
    source VARCHAR(50), 
    confidence_score FLOAT, 
    commission_rate FLOAT, 
    terms TEXT, 
    is_active BOOLEAN, 
    created_at TIMESTAMP WITHOUT TIME ZONE, 
    updated_at TIMESTAMP WITHOUT TIME ZONE, 
    PRIMARY KEY (id), 
    FOREIGN KEY(tenant_id) REFERENCES tenants (id)
);

CREATE INDEX ix_programs_created_at ON programs (created_at);

CREATE INDEX ix_programs_is_active ON programs (is_active);

CREATE INDEX ix_programs_name ON programs (name);

CREATE INDEX ix_programs_source ON programs (source);

CREATE INDEX ix_programs_tenant_id ON programs (tenant_id);

CREATE TABLE retention_rules (
    id UUID NOT NULL, 
    tenant_id UUID NOT NULL, 
    entity_type VARCHAR(50) NOT NULL, 
    retention_days INTEGER NOT NULL, 
    is_active BOOLEAN, 
    created_at TIMESTAMP WITHOUT TIME ZONE, 
    updated_at TIMESTAMP WITHOUT TIME ZONE, 
    PRIMARY KEY (id), 
    FOREIGN KEY(tenant_id) REFERENCES tenants (id)
);

CREATE INDEX ix_retention_rules_tenant_id ON retention_rules (tenant_id);

CREATE TYPE tasktype AS ENUM ('DISCOVER_PROGRAM', 'APPLY_PROGRAM', 'PUBLISH_OFFER');

CREATE TYPE taskstatus AS ENUM ('PENDING', 'CLAIMED', 'RUNNING', 'PAUSED_FOR_CAPTCHA', 'RESUMED', 'SUBMITTED', 'COMPLETED', 'FAILED');

CREATE TABLE tasks (
    id UUID NOT NULL, 
    tenant_id UUID NOT NULL, 
    task_type tasktype NOT NULL, 
    status taskstatus, 
    payload JSONB, 
    result JSONB, 
    agent_id VARCHAR(255), 
    agent_pool VARCHAR(100), 
    retry_count INTEGER, 
    max_retries INTEGER, 
    logs TEXT, 
    screenshot_url VARCHAR(500), 
    error_message TEXT, 
    created_at TIMESTAMP WITHOUT TIME ZONE, 
    updated_at TIMESTAMP WITHOUT TIME ZONE, 
    claimed_at TIMESTAMP WITHOUT TIME ZONE, 
    started_at TIMESTAMP WITHOUT TIME ZONE, 
    completed_at TIMESTAMP WITHOUT TIME ZONE, 
    last_heartbeat TIMESTAMP WITHOUT TIME ZONE, 
    PRIMARY KEY (id), 
    FOREIGN KEY(tenant_id) REFERENCES tenants (id)
);

CREATE INDEX ix_tasks_agent_id ON tasks (agent_id);

CREATE INDEX ix_tasks_agent_pool ON tasks (agent_pool);

CREATE INDEX ix_tasks_created_at ON tasks (created_at);

CREATE INDEX ix_tasks_pool_status ON tasks (agent_pool, status);

CREATE INDEX ix_tasks_status ON tasks (status);

CREATE INDEX ix_tasks_task_type ON tasks (task_type);

CREATE INDEX ix_tasks_tenant_id ON tasks (tenant_id);

CREATE INDEX ix_tasks_tenant_status ON tasks (tenant_id, status);

CREATE TYPE billingstatus AS ENUM ('ACTIVE', 'SOFT_LIMIT', 'SUSPENDED');

CREATE TABLE tenant_billing (
    tenant_id UUID NOT NULL, 
    plan_id UUID NOT NULL, 
    status billingstatus, 
    cycle_start TIMESTAMP WITHOUT TIME ZONE, 
    PRIMARY KEY (tenant_id), 
    FOREIGN KEY(plan_id) REFERENCES billing_plans (id), 
    FOREIGN KEY(tenant_id) REFERENCES tenants (id)
);

CREATE TABLE tenant_usage (
    id UUID NOT NULL, 
    tenant_id UUID NOT NULL, 
    date DATE NOT NULL, 
    tasks_created INTEGER, 
    tasks_completed INTEGER, 
    tasks_failed INTEGER, 
    agent_minutes FLOAT, 
    captcha_events INTEGER, 
    created_at TIMESTAMP WITHOUT TIME ZONE, 
    PRIMARY KEY (id), 
    FOREIGN KEY(tenant_id) REFERENCES tenants (id), 
    CONSTRAINT uix_tenant_date UNIQUE (tenant_id, date)
);

CREATE INDEX ix_tenant_usage_date ON tenant_usage (date);

CREATE INDEX ix_tenant_usage_tenant_id ON tenant_usage (tenant_id);

CREATE TYPE userrole AS ENUM ('OWNER', 'ADMIN', 'OPERATOR', 'VIEWER');

CREATE TABLE users (
    id UUID NOT NULL, 
    tenant_id UUID NOT NULL, 
    email VARCHAR(255) NOT NULL, 
    role userrole NOT NULL, 
    hashed_password VARCHAR(255), 
    refresh_token_version INTEGER, 
    is_active BOOLEAN, 
    created_at TIMESTAMP WITHOUT TIME ZONE, 
    PRIMARY KEY (id), 
    FOREIGN KEY(tenant_id) REFERENCES tenants (id), 
    CONSTRAINT uix_tenant_email UNIQUE (tenant_id, email)
);

CREATE INDEX ix_users_tenant_id ON users (tenant_id);

CREATE TABLE webhook_configs (
    id UUID NOT NULL, 
    tenant_id UUID NOT NULL, 
    url VARCHAR(500) NOT NULL, 
    secret VARCHAR(255) NOT NULL, 
    event_types JSONB NOT NULL, 
    is_active BOOLEAN, 
    created_at TIMESTAMP WITHOUT TIME ZONE, 
    PRIMARY KEY (id), 
    FOREIGN KEY(tenant_id) REFERENCES tenants (id)
);

CREATE INDEX ix_webhook_configs_tenant_id ON webhook_configs (tenant_id);

CREATE TYPE applicationstatus AS ENUM ('PENDING', 'IN_PROGRESS', 'APPROVED', 'REJECTED', 'COMPLETED');

CREATE TABLE applications (
    id UUID NOT NULL, 
    tenant_id UUID NOT NULL, 
    program_id UUID NOT NULL, 
    user_email VARCHAR(255) NOT NULL, 
    user_data JSONB, 
    status applicationstatus, 
    created_at TIMESTAMP WITHOUT TIME ZONE, 
    updated_at TIMESTAMP WITHOUT TIME ZONE, 
    PRIMARY KEY (id), 
    FOREIGN KEY(program_id) REFERENCES programs (id), 
    FOREIGN KEY(tenant_id) REFERENCES tenants (id)
);

CREATE INDEX ix_applications_created_at ON applications (created_at);

CREATE INDEX ix_applications_program_id ON applications (program_id);

CREATE INDEX ix_applications_status ON applications (status);

CREATE INDEX ix_applications_tenant_id ON applications (tenant_id);

CREATE INDEX ix_applications_user_email ON applications (user_email);

CREATE TABLE task_metrics (
    id UUID NOT NULL, 
    tenant_id UUID NOT NULL, 
    task_id UUID NOT NULL, 
    program_name VARCHAR(255), 
    task_type VARCHAR(50) NOT NULL, 
    agent_id VARCHAR(255), 
    agent_pool VARCHAR(100), 
    duration_seconds FLOAT, 
    success BOOLEAN NOT NULL, 
    failure_type VARCHAR(50), 
    captcha_detected BOOLEAN, 
    created_at TIMESTAMP WITHOUT TIME ZONE, 
    PRIMARY KEY (id), 
    FOREIGN KEY(task_id) REFERENCES tasks (id), 
    FOREIGN KEY(tenant_id) REFERENCES tenants (id)
);

CREATE INDEX ix_task_metrics_agent_id ON task_metrics (agent_id);

CREATE INDEX ix_task_metrics_agent_pool ON task_metrics (agent_pool);

CREATE INDEX ix_task_metrics_captcha_detected ON task_metrics (captcha_detected);

CREATE INDEX ix_task_metrics_created_at ON task_metrics (created_at);

CREATE INDEX ix_task_metrics_failure_type ON task_metrics (failure_type);

CREATE INDEX ix_task_metrics_program_name ON task_metrics (program_name);

CREATE INDEX ix_task_metrics_task_id ON task_metrics (task_id);

CREATE INDEX ix_task_metrics_task_type ON task_metrics (task_type);

CREATE INDEX ix_task_metrics_tenant_created ON task_metrics (tenant_id, created_at);

CREATE INDEX ix_task_metrics_tenant_id ON task_metrics (tenant_id);

CREATE TABLE webhook_deliveries (
    id UUID NOT NULL, 
    tenant_id UUID NOT NULL, 
    config_id UUID NOT NULL, 
    event_type VARCHAR(50) NOT NULL, 
    payload JSONB NOT NULL, 
    status_code INTEGER, 
    response_body TEXT, 
    success BOOLEAN, 
    attempt_count INTEGER, 
    delivered_at TIMESTAMP WITHOUT TIME ZONE, 
    PRIMARY KEY (id), 
    FOREIGN KEY(config_id) REFERENCES webhook_configs (id), 
    FOREIGN KEY(tenant_id) REFERENCES tenants (id)
);

CREATE INDEX ix_webhook_deliveries_tenant_id ON webhook_deliveries (tenant_id);

INSERT INTO alembic_version (version_num) VALUES ('620be691e3ba') RETURNING alembic_version.version_num;

COMMIT;

